* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

button:hover {
    cursor: pointer;
}

body {
    margin: 0;
    background-color: #8CACEB;
    overflow-y: hidden;
}

.container-fluid {
    height: 95vh;
}

#add-task {
    background-color: #2463E0;
    padding: 1%;
    transition: transform 1s ease;
}

.add-btn {
    display: block;
    height: 30px;
    width: 100%;
    text-align: left;
    font-weight: bold;
    border: none;
    border-left: 6px solid black;
}

#add-note-btn {
    margin-top: 1%;
}

#columns-wrapper {
    height: 100%;
    padding-top: 2%;
}

#fab-btn {
    position: absolute;
    top: 90%;
    left: 2%;
    height: 5vh;
    width: 3vw;
    border: none;
    border-radius: 50%;
    font-weight: bold;
}

.column {
    width: 290px;
    height: 85vh;
    margin-left: 1%;
    border-radius: 4%;
    display: inline-block;
}

.column-header {
    background-color: #e5e5e5;
    height: fit-content;
    padding: 2% 2%;
}

.column-name {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0;
    height: 35px;
    width: 100%;
    padding-left: 2%;
    border: none;
    font-weight: bold;
}

.column-name:hover {
    cursor: pointer;
}

.column-name:focus {
    border: 1px solid #4bbaff;
    background-color: #fff;
}

#column-content {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}

.card-list {
    padding: 0 3% 1% 3%;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.card {
    border: none;
    border-radius: 2%;
    background-color: #fff;
    /* box-shadow: 0px 1px 1px 1px lightgrey; */
    margin-bottom: 1vh;
    width: 100%;
    height: auto;
    padding-left: 2%;
    padding-right: 2%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.5s ease;
}

.card:hover {
    /* cursor: pointer; */
    transform: scale(1.06);
}

.nav-btn {
    font-weight: bold;
    background-color: #fff;
    padding: 0% 2% 1% 2%;
    font-size: 30px;
    border: none;
}

#task-modal {
    position: absolute;
    background-color: #fff;
    padding-bottom: 1%;
    top: 15%;
    left: 35%;
    bottom: 20;
    width: 30%;
    height: auto;
    transition: transform 0.3s ease;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.form-control input {
    height: 5vh;
}

.form-control :where(textarea, input):focus {
    outline: none;
    border: 2px solid lightskyblue;
}

.modal-header,
.modal-content,
.modal-footer {
    padding: 1% 3%;
}

.modal-footer {
    margin-top: 4%;
}

.modal-header {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
}

#close-btn {
    border: none;
    background-color: red;
    font-weight: bold;
}

#modal-title {
    text-align: center;
}

#task-title {
    width: 100%;
    height: 20vh;
    resize: none;
}

#create-btn {
    width: 100%;
    height: 5vh;
    background-color: green;
    color: #fff;
    font-weight: bold;
}

/* ======================== Animations ========================= */
.add-hidden {
    transform: translateY(-120%);
}

.add-show {
    transform: translateY(0%);
}

.modal-hidden {
    transform: scale(0);
}

.modal-show {
    transform: scale(1);
}

@keyframes slide-in {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
    }

    to {
        transform: translateY(-10%);
        opacity: 0;
        position: relative;
        z-index: -1;
    }
}